# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

#Visual
.vscode
.vscode/*

#TwoWonders
ZeldaWonders
TwoWonders.exe
TwoWonders
*.zip
release
motor/Motor
motor/obj
motor/release
motor/Motor
assets/data/output/*.cereal
assets/data/input/*.cereal
